---
title: Reports
layout: default
---

{% assign reports = site.reports | sort: 'date' | reverse %}
{% for report in reports  %}

<h1>{{ report.title }}</h1>
  
<h2>{{ report.date | date: "%A, %B %e, %Y" }}</h2>

{% if report.update %}
<p><b><i>An update to this report is <a href="{{ report.update }}">available here.</a></i></b></p>
{% endif %}

<h2>Summary</h2>
    {{ report.abstract | split:'<!--break-->' | first | markdownify }}
	
    <p><a href="{{ report.url }}">Continued ...</a></p>

{% endfor %}
